@import "@/mixins/mixins";

.BurgerMenu {
    position: absolute;
    top: 20px;
    left: 20px;
}

.container {
    padding: 20px 10px;

    .header {
        display: flex;
        justify-content: center;

        font-family: 'Pixeboy-z8XGD', Sans-serif;
        font-size: 30px;
        letter-spacing: 4px;
    }

    .content {
        width: 100%;
    }

    .toolsList {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
        margin-top: 22px;

        list-style: none;

        .toolsListItem {
            width: 70%;
        }
    }
}



.btn {
    @include pixelButton;
}