:root {
    --pixel-fonts: 'Pixeboy-z8XGD';
}

@font-face {
    font-family: 'Pixeboy-z8XGD';
    src: url('assets/fonts/Pixeboy.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
