@import "@/mixins/mixins";

.page {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 70vw;
    max-width: 70vh;
    margin: 1rem auto;
}

.header {
    color: white;
    margin-bottom: 20px;

    .linkToMenu {
        position: absolute;
        top: 20px;
        left: 20px;
        color: white;
        font-size: 20px;
    }

    .level {
        display: flex;
        gap: 24px;
        margin-bottom: 20px;
    }

    .btn {
        @include pixelButton;
        background-color: #b9b9b9;
    }
}


.wrapperActions {
    margin-top: 20px;
    display: flex;
    gap: 12px;

    .btn {
        @include pixelButton;

        background-color: white;
        padding: 10px 0;
    }
}