.timer {
    color: white;
    padding: 20px;
}

.reset {
    color: white;
    padding: 3px 0;

    button {
        color: white;
        cursor: pointer;
    }
}

.info {
    margin-top: 20px;
}

.player {
    margin-top: 20px;
}