.Rooms {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;

    padding-top: 30px;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    .title {
        font-size: 80px;
    }

    .btnJoin {

    }
}

.content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .headerContent {
        font-size: 36px;
    }
}

.wrapperList {
    margin-top: 30px;
}

.list {
    list-style: none;

    li:not(:first-child) {
        margin-top: 20px;
    }

    .listItems {
        padding: 16px 26px;
        border: 1px solid white;
        border-radius: 4px;
        font-size: 22px;
        width: 100%;

        .containerItem {
            min-width: 400px;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
