.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    pointer-events: auto;
}

.container {
    height: 100vh;
    min-height: auto;
    max-width: 350px;

    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    z-index: 100;
}