.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    color: black;
}


.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0 0 0/80%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 20px;
    border-radius: 12px;
    background-color: #182f75;

    transition: 0.3s transform;
    transform: scale(0.5);
    max-width: 60%;
}

.opened {
    opacity: 1;
    pointer-events: auto;
    z-index: 2;

    .content{
        transform: scale(1);
    }
}

