@mixin pixelButton {
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    font-family: 'Pixeboy-z8XGD', serif;
    font-size: 22px;
    height: 50px;
    width: 100%;
    white-space: nowrap;

    border-right: 4px solid black;
    border-bottom: 6px solid black;

    box-shadow: -3px 0 0 0 black,
    3px 0 0 0 black,
    0 -3px 0 0 black,
    0 3px 0 0 black;

    transition: color .3s ease;

    &:hover {
        background-color: #606060;;

        border-right: 6px solid black;
        border-bottom: 8px solid black;
        color: white;
    }

    &:active {
        background-color: #606060;
        transform: translateY(3px) scaleX(0.96);
        border-right: 4px solid black;
        border-bottom: 5px solid black;
    }
}